<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.17.10" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.5.2" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.0.21" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService.NetCore.Support" version="1.0.2" targetFramework="net461" />
  <package id="Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="MimeSharp" version="1.0.0" targetFramework="net461" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net461" developmentDependency="true" />
  <package id="PowerShell" version="1.0.0" targetFramework="net461" />
  <package id="Stamp.Fody" version="1.3.1" targetFramework="net461" developmentDependency="true" />
</packages>